.row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px dotted gray;
}

li {
  list-style-type: none;
}

.title {
  text-align: center;
  font-weight: 600;
}

.entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /** slightly lighter */
  border-top: var(--border-small);
  padding-top: var(--space-xl);

}

.summary,
.details {
  width: calc(100% - var(--space-md) * 2);
  padding-inline: var(--space-md);
  /* Clamp no bigger then --space-md, no smaller then --space-sm */
  padding-right: clamp(var(--space-md), 3vw, var(--space-xl));
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  gap: 1rem;
  padding-top: var(--space-md);
  /* Border dashed top  with longer dashes*/

}

.details {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px dashed #e3e2e2;
  padding-bottom: var(--space-md);
}
