.container {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  margin-block: var(--space-md);
  justify-content: center;
  align-items: center;
}

.title,
.total {
  text-align: center;
  display: inline-block;
}

.total {
  margin-bottom: 0;
  font-weight: 300;
}

.summaries {
  flex-direction: column;
  overflow: auto;
  gap: var(--space-md);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-md);
  gap: var(--space-sm);
  justify-content: flex-end;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-md);
}
