.no-results {
  margin-top: var(--space-md);
  display: grid;
  place-content: center;
}

.footer {
  border-top: var(--border-small);
  margin-top: var(--space-md);
  margin-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: calc(var(--bs-gutter-x) * 0.5);
}

.footerContainer {
  margin-top: var(--space-md);
  padding-top: var(--space-md);
}

.search {
  margin-top: var(--space-md);
  display: flex;
  justify-content: center;
}

.sidebar {
  border-bottom: var(--border-small);
}

@media (min-width: 768px) {
  .sidebar {
    border-bottom: none;
    border-right: var(--border-small);
    padding-right: var(--space-md);
    max-height: var(--max-container-height);
    overflow-y: scroll;
  }
}

.results {
  padding-left: clamp(var(--space-sm), 3vw, var(--space-lg));
  display: grid;
}

@media (min-width: 768px) {
  .results {
    padding-left: none;
    max-height: var(--max-container-height);
    overflow-y: scroll;
  }
}
