*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --navbar-height: 50px;
  --color-primary: white;
  --color-secondary: lightblue;
  --color-secondary-border: rgb(118, 148, 158);
  --color-tertiary: rgb(204, 200, 200);
  --bs-body-font-family: "Work Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  font-family: "Work Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 2.5rem;

  --border-small: 1px solid #ddd;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
